<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.tattoo_project.mapper.StyleMapper">
<!-- 전체 조회-->
    <select id="findAll" resultType="Style">
        SELECT * FROM style
    </select>

    <select id="findById" parameterType="long" resultType="Style">
        SELECT * FROM style
        WHERE id = #{id}
    </select>
<!--등록-->
    <insert id="save" parameterType="Style" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO style (name, sort_order)
        VALUES (#{name}, #{sortOrder})
    </insert>

<!--    수정-->
    <update id="update" parameterType="Style">
        UPDATE style
        SET name = #{name},
        sort_order = #{sortOrder}
        WHERE id = #{id}
    </update>

<!--    삭제-->
    <delete id="delete" parameterType="long">
        DELETE FROM style
        WHERE id = #{id}
    </delete>

</mapper>
